{% extends "LibraryManagerBundle:Members:layout.html.twig" %} 

{% block members_body %}
{% for message in app.flashes('notice') %}
<div class="alert alert-success mt-4" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="row justify-content-center">
        
         <ul class="list-group col-11 col-md-8 text-center mt-5" >
             <li class="list-group-item">{{member.name}}</li>
             <li class="list-group-item">{{member.numberMember}}</li>
             <li class="list-group-item">{{member.mail}}</li>
            <li class="list-group-item" role="tab" id="headingThree"> 
                {% if member.books|length == 0 %}
                    Pas de Locations en cours
                {% else %}
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Nombre de locations en cours : {{member.books|length}}
                      </a>
                      <div id="collapseThree" class="collapse mt-4" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                          <ul>
                           {% for book in member.books %} 
                           <li class="mt-2 text-left">{{book.title}}<a class="btn btn-success ml-4" href="{{ path('library_back', {'id': book.id})}}">Rendre livre</a></li>
                           <hr>
                           {% endfor %}
                       </ul>
                      </div>
                    
                {% endif %}
                
             </li>
           </ul>
     
     
     </div>




{% endblock %}
