<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{ path('library_viewCategory', {'category': 'roman'})}}">roman</a>
      <a class="dropdown-item" href="{{ path('library_viewCategory', {'category': 'BD'})}}">BD</a>
      
    </div>
  </div>



{% for book in books%}
    <a href="{{ path('library_viewBook', {'id': book.id})}}"><h2>{{book.title}}</h2></a>
    <p>{{book.resume}}</p>
{% endfor %}
