{% extends "LibraryManagerBundle:Books:layout.html.twig" %} 
{% block stylesheets %}
{{ parent() }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block books_body %}
<h2 class="mt-4 mb-4">Liste des livres</h2>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Catégories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('library_viewCategory', {'category': 'roman'})}}">Roman</a>
    <a class="dropdown-item" href="{{ path('library_viewCategory', {'category': 'BD'})}}">BD</a>
    <a class="dropdown-item" href="{{ path('library_viewCategory', {'category': 'humour'})}}">Humour</a>

  </div>
</div>

<table id="table_id" class="display table table-hover table-responsive-sm">
  <thead class="text-center">
    <th class="booktitle">Titre</th>
    <th>Auteur</th>
    <th>Date de parution</th>
    <th>Disponibilité</th>

  </thead>
  <tbody class="text-center ">
    {% for book in books%}
    
    <tr>
        
      <td><a href="{{ path('library_viewBook', {'id': book.id})}}">{{book.title}} <i class="fa fa-hand-o-left ml-3" aria-hidden="true"></i>
      </a></td>
      <td>{{book.author}}</td>
      <td>{{book.releaseDate}}</td>
      <td> 
          {% if book.availability == 0%}
          <i class="fa fa-times fa-2x text-danger" aria-hidden="true"></i>
          {% else %}
          <i class="fa fa-check fa-2x text-success" aria-hidden="true"></i>
          {% endif %}
      </td>
   
    </tr>
  
    
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}