{% extends "LibraryManagerBundle:Books:layout.html.twig" %} {% block books_body %} 


{% for message in app.flashes('notice') %}
<!-- message flash -->
<div class="alert alert-success mt-4" role="alert">
    {{ message }}
</div>
{% endfor %}


<div class="row justify-content-center">

    <ul class="list-group col-11 col-md-8 text-center mt-5">
        <li class="list-group-item">{{book.title}}</li>
        <li class="list-group-item">{{book.author}}</li>
        <li class="list-group-item">{{book.releaseDate}}</li>
        <li class="list-group-item" role="tab" id="headingThree">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Résumé
                <i class="fa fa-hand-o-left ml-3" aria-hidden="true"></i>
            </a>
            <div id="collapseThree" class="collapse mt-4" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                {{book.resume}}
            </div>
        </li>

        <li class="list-group-item">
            {% if book.availability == 1%}
            <a class="btn btn-success" href="{{ path('library_rental', {'id': book.id})}}">Emprunter</a>
            {% else %}
            <a class="btn btn-success" href="{{ path('library_back', {'id': book.id})}}">Rendre</a>
            {% endif %}
        </li>
    </ul>


</div>

{% endblock %}